/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
    --rust: #CD8F5C;
    --brown: #958E7B;
    --light-brown: #E0C9A8;
    --pale: #FAF6F0;
    --dusty-pink: #E48D78;
    --blue: #204454;
    --black: #19181A;

}

body {
    background-image: url(../images/background.png);
    background-size: 120%;
    background-position: 50% 30%;
    background-color: var(--pale);
    background-attachment: fixed;
    overflow-x: hidden;

}

.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.header {
    height: 100vh;
}

.header h1 {
    background-image: url(../images/letter_front_2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-size: 300%;
    text-align: left;
    margin-top: 170px;
    padding: 80px 150px 80px 50px;
    z-index: 1;
    position: absolute;
    left: 10%;
    line-height: 1;
    filter: saturate(0.6) sepia(0.1);
    animation: move_from_top 1s forwards;
}

.header img {
    position: absolute;
}

.header img:first-of-type {
    top: 30%;
    left: -35%;
    width: 320px;
    z-index: 2;
    animation: move_from_left 1s forwards;
}


.header img:nth-of-type(2) {
    top: 55%;
    left: -32%;
    width: 380px;
    z-index: 2;
    animation: move_from_left 1s forwards;

}

.header img:nth-of-type(3) {
    top: 22%;
    right: -38%;
    width: 430px;
    transform: rotate(-120deg);
    filter: brightness(1.2) contrast(0.8);
    animation: move_from_right 1s forwards;

}

.header img:nth-of-type(4) {
    top: 65%;
    right: -50%;
    width: 850px;
    animation: move_from_right 1s forwards;
}

.header img:nth-of-type(5) {
    top: 85%;
    left: -5%;
    width: 350px;
    transform: rotate(8deg);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    animation: move_from_left 1s forwards;
}

.header img:nth-of-type(6) {
    top: 27%;
    left: -5%;
    width: 180px;
    transform: rotate(-15deg);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    animation: move_from_left 1s forwards;
}

.header img:nth-of-type(7) {
    top: 10%;
    right: 14%;
    width: 280px;
    transform: rotate(-354deg);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    z-index: 2;
    animation: move_from_top 1s forwards;
}

.header img:nth-of-type(8) {
    top: 90%;
    right: 0%;
    width: 400px;
    transform: rotate(-15deg);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    animation: move_from_right 1s forwards;
}

.header img:nth-of-type(10) {
    top: 51%;
    right: -10%;
    width: 350px;
    transform: rotate(-5deg);
    filter: sepia(1) brightness(1.2);
    opacity: 0.0;
    z-index: -1;
    animation: move_from_left 1s forwards;
}

.offset-by-four p {
    position: relative;
    top: -170px;
    right: -50%;
    transform: rotate(-18deg);
    width: 270px;
    font-family: 'Homemade Apple', cursive;
    line-height: 1.7;
    z-index: 2;
}

.header img:nth-of-type(9) {
    top: -10%;
    right: 30%;
    width: 470px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    filter: brightness(1.1);
    filter: sepia(.2);
    animation: move_from_top 1s forwards;

}

.margin-top > img:first-of-type {
    position: absolute;
    width: 160px;
    z-index: 2;
    margin-top: 100px;
    margin-left: 40px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    filter: grayscale(1) sepia(0.4);
    animation: move_from_bottom 1s forwards;

}

.margin-top img:nth-of-type(2) {
    position: absolute;
    width: 250px;
    top: -3em;
    left: 100%;
    z-index: 3;
    transform: rotate(15deg);
    filter: saturate(0.6) brightness(1.2);
    opacity: 0.9;
    animation: move_from_bottom 1s forwards;

}

.margin-top img:nth-of-type(3) {
    position: absolute;
    width: 400px;
    top: -11em;
    right: 56%;
    transform: rotate(-2deg);
    filter: saturate(0.6);
    animation: move_from_bottom 1s forwards;

}

.margin-top img:nth-of-type(4) {
    position: absolute;
    width: 250px;
    left: 76%;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    transform: rotate15deg);
    filter: saturate(0.5);
    animation: move_from_bottom 1s forwards;

}

.column,
.columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}

/* For devices larger than 550px */

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0;
    }

    .one.column,
    .one.columns {
        width: 4.66666666667%;
    }
    .two.columns {
        width: 13.3333333333%;
    }
    .three.columns {
        width: 22%;
    }
    .four.columns {
        width: 30.6666666667%;
    }
    .five.columns {
        width: 39.3333333333%;
    }
    .six.columns {
        width: 48%;
    }
    .seven.columns {
        width: 56.6666666667%;
    }
    .eight.columns {
        width: 65.3333333333%;
    }
    .nine.columns {
        width: 74.0%;
    }
    .ten.columns {
        width: 82.6666666667%;
    }
    .eleven.columns {
        width: 91.3333333333%;
    }
    .twelve.columns {
        width: 100%;
        margin-left: 0;
    }

    .one-third.column {
        width: 30.6666666667%;
    }
    .two-thirds.column {
        width: 65.3333333333%;
    }

    .one-half.column {
        width: 48%;
    }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns {
        margin-left: 8.66666666667%;
    }
    .offset-by-two.column,
    .offset-by-two.columns {
        margin-left: 17.3333333333%;
    }
    .offset-by-three.column,
    .offset-by-three.columns {
        margin-left: 26%;
    }
    .offset-by-four.column,
    .offset-by-four.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-five.column,
    .offset-by-five.columns {
        margin-left: 43.3333333333%;
    }
    .offset-by-six.column,
    .offset-by-six.columns {
        margin-left: 52%;
    }
    .offset-by-seven.column,
    .offset-by-seven.columns {
        margin-left: 60.6666666667%;
    }
    .offset-by-eight.column,
    .offset-by-eight.columns {
        margin-left: 69.3333333333%;
    }
    .offset-by-nine.column,
    .offset-by-nine.columns {
        margin-left: 78.0%;
    }
    .offset-by-ten.column,
    .offset-by-ten.columns {
        margin-left: 86.6666666667%;
    }
    .offset-by-eleven.column,
    .offset-by-eleven.columns {
        margin-left: 95.3333333333%;
    }

    .offset-by-one-third.column,
    .offset-by-one-third.columns {
        margin-left: 34.6666666667%;
    }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns {
        margin-left: 69.3333333333%;
    }

    .offset-by-one-half.column,
    .offset-by-one-half.columns {
        margin-left: 52%;
    }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em;
    /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Jim Nightshade', cursive;
    color: #222;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 300;
}

h1 {
    font-size: 7.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
    text-align: center;
    color: var(--rust)
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25;
    letter-spacing: -.1rem;
    text-align: center;
    color: var(--rust);
}

h3 {
    font-size: 3.0rem;
    line-height: 1.3;
    letter-spacing: -.1rem;
    color: var(--rust);
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.08rem;
}

h5 {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: -.05rem;
}

h6 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 0;
}

p {
    font-family: 'Homemade Apple', cursive;
    line-height: 1.7;

}

a {
    text-decoration: none;
}

/* Larger than phablet */

@media (min-width: 550px) {
    h1 {
        font-size: 10.0rem;
    }
    h2 {
        font-size: 4.2rem;
    }
    h3 {
        font-size: 2.0rem;
    }
    h4 {
        font-size: 3.0rem;
    }
    h5 {
        font-size: 2.4rem;
    }
    h6 {
        font-size: 1.5rem;
    }
}

p {
    margin-top: 0;
    color: var(--brown);
}


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */

code {
    padding: .2rem .5rem;
    margin: 0 .2rem;
    font-size: 90%;
    white-space: nowrap;
    background: #F1F1F1;
    border: 1px solid #E1E1E1;
    border-radius: 4px;
}

pre > code {
    display: block;
    padding: 1rem 1.5rem;
    white-space: pre;
}


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #E1E1E1;
}

th:first-child,
td:first-child {
    padding-left: 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

button,
.button {
    margin-bottom: 1rem;
}

input,
textarea,
select,
fieldset {
    margin-bottom: 1.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
    margin-bottom: 2.5rem;
}


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}

/**
 * Material Modal CSS
 */

.krew-modal {
    will-change: visibility, opacity;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition-delay: $modal-delay;
    transition-delay: $modal-delay;
}

.modal--active {
    visibility: visible;
    opacity: 1;
}

.modal--align-top {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.modal__bg {
    background: transparent;
}

.modal__dialog {
    max-width: 600px;
    padding: 1.2rem;
}

.modal__content {
    will-change: transform, opacity;
    position: relative;
    padding: 2.4rem;
    background: var(--pale);
    background-clip: padding-box;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
    opacity: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__content img {
    width: 100%;
}

.modal__content--active {
    opacity: 1;
}

.modal__close {
    z-index: 1100;
    cursor: pointer;
}

.modal__trigger {
    position: absolute;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__trigger:hover {
    margin-top: 4px;
    cursor: url('../images/magnifier.png'), auto;
}

.modal__trigger--active {
    z-index: 10;
}

#modal__temp {
    will-change: transform, opacity;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.1s ease-out, -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: opacity 0.1s ease-out, transform 0.5s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-btns header {
    padding: 7vh 10vw;
    background: #ffebee;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.demo-btns header h1 {
    margin: 0;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 300;
}

.demo-btns .info {

    background: #f44336;
    padding: 3vh 10vw;
    height: 70vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
}

.demo-btns p {

    text-align: center;
    color: #fff;
}

.demo-btns .link {
    font-size: 20px;
}

.demo-btns .modal__trigger {
    margin-right: 3px;
}

@media (max-width: 640px) {
    .demo-btns .modal__trigger {
        margin-bottom: 0.8rem;
    }
}

.demo-close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1.2rem;
    padding: 0.6rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.demo-close svg {
    width: 24px;
    fill: #fff;
    pointer-events: none;
    vertical-align: top;
}

.demo-close:hover {
    background: rgba(0, 0, 0, 0.6);
}

.logo {
    position: fixed;
    bottom: 3vh;
    right: 3vw;
    z-index: 2;
}

.logo img {
    width: 45px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.logo img:hover {
    -webkit-transform: rotate(180deg) scale(1.1);
    transform: rotate(180deg) scale(1.1);
}

.een {
    top: 5%;
    left: -20%;
    width: 200px;
    animation: move_from_left 1s forwards;

}

.een img {
    transform: rotate(-15deg);
}


.twee {
    top: 5%;
    right: -20%;
    width: 230px;
    animation: move_from_right 1s forwards;

}

.twee img {
    transform: rotate(-347deg);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}

.drie {
    top: 27%;
    left: -15%;
    width: 250px;
    animation: move_from_left 1s forwards;
}

.drie img {
    transform: rotate(-10deg);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
    filter: sepia(0.3)
}

.vier {
    top: -260px;
    right: -25%;
    width: 500px;
    filter: saturate(0.6);
    z-index: 1;
    position: absolute;
    animation: move_from_right 1s forwards;

}

.vijf {
    position: absolute;
    width: 500px;
    top: -5em;
    left: 28%;
    z-index: 1;
    filter: saturate(0.6);
    animation: move_from_bottom 1s forwards;

}

.vijf p {
    font-size: 8px;
    z-index: 2;
    position: absolute;
    width: 32%;
    transform: rotate(3deg);
    top: -1em;
    line-height: 2;
    left: 63%;
    animation: move_from_bottom 1s forwards;

}

.margin-top {
    margin-top: 20em;
}


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */

.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}

/* Keyframes
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@keyframes move_from_top {
    from {
        margin-top: -20em;
    }
}

@keyframes move_from_bottom {
    from {
        margin-top: 20em;
    }
}

@keyframes move_from_left {
    from {
        margin-left: -20em;
    }
}

@keyframes move_from_right {
    from {
        margin-right: -20em;
    }
}

/* Delighters
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* when the library loads, each [data-delighter] 
      gets the .delighter class */

.foo.delighter {
    transition: all .3s ease-out;
    transform: translateY(100%);
    opacity: 0;
}

/* the .started class is set when the top
      of [data-delighter] is at 0.75 of the viewport 
      (where 0 is top and 1 is bottom) */

.foo.delighter.started {
    transform: none;
    opacity: 1;
}
